body {
  font-family: Arial;
  margin: 40px;
}
h1 {
  text-align: center;
}
h2 {
  margin: 0px;
}
.item {
  background: #111;
  color: #fff;
  padding: 25px;
  margin: 20px;
  border-radius: 4px;
}
span {
  color: crimson;
}

p {
  color: #b2b2b2;
}
a {
  display: inline;
  background: #febe01;
  color: #332200;
  padding: 10px;
  border-radius: 10px;
  text-decoration: underline;
}
